<div class="card {{host.statusClass}}" >
  <div class="card-img-container" ng-click="zabbixCtrl.showExtraInfo()">
    <img ng-src="icones/{{host.host}}.png">
  </div>
  <div class="card-title-container">
    <span class="card-title">{{host.nameDisplay}}</span>
    <span class="card-city">{{host.city}}</span>
  </div>
    <div class="card-buttons" ng-click="showTriggerData(host)">
      <span class="badge {{host.triggerClass}} badge-status">{{host.triggerLevel}}%</span>
      <span class="badge {{host.convertFreeStatus | convertFreeStatus}} badge-status">
        <span class="glyphicon glyphicon-earphone"></span>
      </span>
    </div>
</div>